@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf")
}
body{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}
div#interface{
    width: 1000px;
    background-color: white;
    margin: -20px auto 0px auto; /* cima direita baixo esquerda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 10px; 
}
header#cabecalho img#icone{
    position: relative;
    left: 840px;
    top: -40px;

}
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg");
    background-repeat: no-repeat;
    background-position: 0px 90px;
}
header#cabecalho h1{
    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 13pt;
    color: #888888;
    padding: 0;
    margin-top: 0px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
a{
    color: #606060;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* Formatação de imagens com legendas */
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{ /* Faz a imagem encaixar e acompanhar o tamanho da figure */
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{ /* Isso cria um efeito preto quase transparente sobre a foto */
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{ /* Esse é o evento mouseover sobre a imagem, fazendo a figcaption aparecer */
    opacity: 1;
}
/* Formatação do menu de navegação */
nav#menu ul{
    list-style: none; /* Apaga os marcadores de itens, numeros por exemplo */
    text-transform: uppercase; /* Deixa tudo em maiusculo */
    position: relative;
    top: -251px;
    left: 250px;
}
nav#menu li{
    display: inline-block;
    border-left: 4px solid white;
    border-right: 4px solid white;
    background-color: #dddddd;
    padding: 10px; /* Cria um espaço dentro do objeto */
    margin:  -3px; /* Cria um espaço fora do objeto */
    transition: background-color 1s; /* Da um efeito de transição ao passar o mouse por cima do botão do menu */
    position: relative;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu {
    display: block;
}
nav#menu h1{
    display: none;
}
nav#menu a{ /* Configurando os links dentro do menu de navegação */
    color: black; /* Deixa a letra preta */
    text-decoration: none; /* Tira o underline dos links */
}
nav#menu a:hover{
    color: white;
}
section#corpo{
    display: block;
    width: 600px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}
article#noticia-principal h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}
.direita{
    text-align: right;
}
table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td{
    border: 1px solid #606060; 
    padding: 10px; /* Espaço extra dentro de cada celula em volta de cada texto */
    text-align: right;
}
table#tabelaspec td.ce{
    color: white;
    background-color: #606060;   
    vertical-align: top;       
    font-weight: bold;
}
table#tabelaspec td.cd{
    background-color: #cecece;  
    text-align: left;
}
table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}
table#tabelaspec span{ 
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}
aside#lateral h2{
    background-color: #606060;
    color: white;
    font-size: 13pt;
    padding: 10px;
}
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p{
    text-align: center;
}
video#filme01{
    width: 100%;
    
}
video#filme02{
    width: 100%;
}