@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf")
}

section#conteudo{
    width: 1000px;
    margin: auto;
}
iframe#frame-spec{
    display: block;
    float: right;
    width: 480px;
    height: 280px;
    pointer-events: none;
    overflow: hidden;
}
iframe#frame-spec::-webkit-scrollbar{
    display: none;
}
